<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>{{title1}}</title>
  </head>

  <body>

    <h1>Good morning! Welcome to Cascabel Curve Recommender!</h1>

    <p>Get film recommendations</p>

    <form action="/recommendations">
      Casablanca: <input type=text name="movie1" placeholder="0-5"><br>
      Ghostbusters: <input type=text name="movie2" placeholder="0-5"><br>
      Burnt by the Sun: <input type=text name="movie3" placeholder="0-5"><br>
      Pulp Fiction: <input type=text name="movie4" placeholder="0-5"><br>
      Triangle of Sadness: <input type=text name="movie5" placeholder="0-5"><br>
      <p><input type="submit"></p>
    </form>




  </body>

</html>
